*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
lite.properties
convert.properties
KeyStore/joinerkeys.jks
KeyStore/converterkeys.jks
out/
