<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.yourok.m3u8loader">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="ru.yourok.loader.LoaderService" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DirectoryChooserActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SettingsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="video/m3u" />
                <data android:mimeType="video/m3u8" />
                <data android:mimeType="video/hls" />
                <data android:mimeType="audio/x-mpegurl" />
                <data android:mimeType="application/x-mpegurl" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="video/mp2t" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="video/m3u" />
                <data android:mimeType="video/m3u8" />
                <data android:mimeType="video/hls" />
                <data android:mimeType="audio/x-mpegurl" />
                <data android:mimeType="application/x-mpegurl" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="video/mp2t" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*.M3U*" />
                <data android:pathPattern=".*.m3u*" />
                <data android:pathPattern=".*.m3u*.*" />
                <data android:pathPattern=".*..*.m3u*.*" />
                <data android:pathPattern=".*..*..*.m3u*.*" />
                <data android:pathPattern=".*..*..*..*.m3u*.*" />
                <data android:pathPattern=".*..*..*..*..*.m3u*.*" />
                <data android:pathPattern=".*..*..*..*..*..*.m3u*.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*.m3u*.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*.m3u*.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*.m3u*.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*.m3u*.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.m3u*.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.m3u*.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.m3u*.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.m3u*.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.m3u*.*" />
                <data android:pathPattern=".*.M3U8" />
                <data android:pathPattern=".*.m3u8" />
                <data android:pathPattern=".*.m3u8.*" />
                <data android:pathPattern=".*..*.m3u8.*" />
                <data android:pathPattern=".*..*..*.m3u8.*" />
                <data android:pathPattern=".*..*..*..*.m3u8.*" />
                <data android:pathPattern=".*..*..*..*..*.m3u8.*" />
                <data android:pathPattern=".*..*..*..*..*..*.m3u8.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*.m3u8.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*.m3u8.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*.m3u8.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*.m3u8.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.m3u8.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.m3u8.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.m3u8.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.m3u8.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.m3u8.*" />
                <data android:pathPattern=".*.M3U" />
                <data android:pathPattern=".*.m3u" />
                <data android:pathPattern=".*.m3u.*" />
                <data android:pathPattern=".*..*.m3u.*" />
                <data android:pathPattern=".*..*..*.m3u.*" />
                <data android:pathPattern=".*..*..*..*.m3u.*" />
                <data android:pathPattern=".*..*..*..*..*.m3u.*" />
                <data android:pathPattern=".*..*..*..*..*..*.m3u.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*.m3u.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*.m3u.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*.m3u.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*.m3u.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.m3u.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.m3u.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.m3u.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.m3u.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.m3u.*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListEditActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RemoveDialogActivity"
            android:theme="@style/MyDialog" />
    </application>

</manifest>